span {
  color: #fdfdfd;
  font-family: consolas;
  line-height: 60px;
}
h1 {
  color: #fdfdfd;
  line-height: 60px;
  align-content: start;
  top: 25%;
  left: 10%;
  position: absolute;
  text-align: left;
}
.container {
  align-items: start;
  width: 100%;
}
.title {
  color: #ff0;
}

strong {
  color: #ff0;
}
