.navbar {
  color: #eee;
}

.contact-btn {
  background: transparent;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 50px;
  outline: none;
  overflow: hidden;
  color: #eee;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.nav-background {
  background-color: black;
}
