.App {
  background-color: #191919;
  font-family: consolas;
  letter-spacing: 1px;
  /* height: 100%;
  width: 100%; */
}

.svg {
  /* padding-bottom: 200px; */
  /* position: absolute; */
  /* width: 100%; */
  /* height: 100%; */
}
